<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Show Pin</title>
    </head>
    <body>
        <h1>{{ pin.title }}</h1>

    <a href="{{ path('home') }}">Back</a>
    </body>
</html>
